* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 7%;
  border-bottom: 1px solid rgba(225, 225, 225, 0.5);
}
.logo a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.6rem;
  text-shadow: 0 0 12px rgba(225, 225, 225, 0.7);
}
.logo a span {
  color: red;
}
.navbar-nav a {
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.2rem 1rem;
}
.hamburger a {
  color: white;
  display: inline-block;
  font-size: 1rem;
  padding: 0.6rem 0;
}
.home {
  align-items: center;
  height: 100vh;
  color: white;
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: #000000;
  justify-content: space-evenly;
}

.header-title h1 {
  font-size: 2rem;
  text-shadow: 0 0 12px rgba(225, 225, 225, 0.5);
}
.item {
  line-height: 1.5rem;
  margin-top: 0.8rem;
  margin-bottom: 1.2rem;
}

.gambar1 {
  height: 17rem;
  width: 17rem;
  background-image: url(me.jpeg);
  border-radius: 50%;
  box-shadow: 0 0 9px 5px rgba(255, 0, 0, 0.6);
  overflow: hidden;

  background-size: cover;
}

.btn a {
  height: 10%;
  background-color: none;
  border: 1px solid rgba(255, 0, 0, 0.5);
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  border-radius: 25px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}
.btn a:hover {
  box-shadow: 0 0 9px rgba(255, 0, 0, 1);
}
.about {
  align-items: center;
  height: 100vh;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #000000;
}
.teks h1 {
  font-weight: 800px;
  font-size: 2rem;
  text-shadow: 0 0 12px rgba(225, 225, 225, 0.5);
  padding-bottom: 2rem;
}
.about p {
  line-height: 1.8rem;
}
.gambar {
  background-image: url(gym.jpeg);
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  box-shadow: 0 0 9px 5px rgba(255, 0, 0, 0.6);
  overflow: hidden;
  background-size: cover;
}
.campus {
  height: 100vh;
  color: white;
}
